<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    

    <div class="p-8 max-w-lg" method="POST" action"/api/login"">

      <h1 class="mb-8 font-bold text-2xl">{{title}}</h1>


      <div id="alert" class="hidden p-4 mb-4 text-sm rounded-lg dark:bg-green-200 dark:text-green-800" role="alert">
      </div>
      <form id="form" >
        <div class="mb-6">
          <label
            for="text"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Username</label
          >
          <input
            id="username"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required
          />
        </div>
        <div class="mb-6">
          <label
            for="password"
            class="block mb-2 text-sm font-medium text-gray-900 dark:text-gray-300"
            >Your password</label
          >
          <input
            type="password"
            id="password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
            required
          />
        </div>
        <button
          type="submit"
          class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
        >
          Submit
        </button>
      </form>
    </div>

    <script>
      const form = document.getElementById("form")
      const alert_message = document.getElementById("alert")

      form.addEventListener("submit", async (e) => {
        e.preventDefault()

        const inputs = form.querySelectorAll("input")

        const username = inputs[0].value
        const password = inputs[1].value

        
        const res = await fetch("/api/login", {
          method: "POST",
          headers: {'Content-Type': 'application/json'}, 
          body: JSON.stringify({username, password})
        })

        const res_data = await res.json()

        if (res_data == true) {
          alert_message.classList.remove("text-red-700")
          alert_message.classList.remove("bg-red-100")
          alert_message.classList.add("text-green-700")
          alert_message.classList.add("bg-green-100")
          alert_message.classList.remove("hidden")
          alert_message.textContent = "Succeed!"
        } else {
          alert_message.classList.remove("text-green-700")
          alert_message.classList.remove("bg-green-100")
          alert_message.classList.add("text-red-700")
          alert_message.classList.add("bg-red-100")
          alert_message.textContent = "Failed!"
        }
        alert_message.classList.remove("hidden")
      })
    </script>

  </body>
</html>
